{{ vite src="resources/js/accordeon.js|resources/css/accordeon.css" }}



<div class="w-full min-h-full">
    <img
        src="{{ glide :src='assets_field'}}"
        alt="{{assets_field:alt}}"
        class="w-full [height:_clamp(20em,24vw,50vw)] object-cover"
    />

    {{les_sections title:is="accordeon"}}
        {{partial:accordeon}}
    {{/les_sections}}

    {{les_sections title:is="CTA bas de page"}}
        {{ partial:sectionCTAbasdepage}}
    {{/les_sections}}

    {{les_sections title:is="statistiques"}}
        {{ partial:section4Stats}}
    {{/les_sections}}

</div>
