<div class="w-full min-h-full">
    <img
        src="{{ glide :src='assets_field'}}"
        alt="{{assets_field:alt}}"
        class="w-full [height:_clamp(20em,24vw,50vw)] object-cover"
    />

    <section class="[padding:_clamp(2em,5vw,5vw)_clamp(0.9em,6vw,6vw)_clamp(0.9em,2.2vw,6vw)]">
        <div>
            <h1 class=" [font-size:_clamp(2em,4vw,5vw)] [margin-bottom:_clamp(0.5em,0.5vw,1vw)] text-center">Des questions? Contactez-nous</h1>
            <p class=" [font-size:_clamp(0.9em,1.5vw,2vw)] [margin-bottom:_clamp(1em,0.8vw,1vw)] text-center">Nos experts sont là pour répondre.</p>
        </div>

        <div class="flex flex-col md:flex-row gap-3">
            <div class="md:w-1/3 ">
                <div class="flex items-center gap-[_clamp(1em,2vw,3em)] my-5 underline [font-size:_clamp(1em,1.3vw,1.5em)]">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="1.85em" height="1.85em" viewBox="0 0 19 12" fill="none"><path d="m17.989 10.264-4.12-4.055a.287.287 0 0 1 0-.403l4.12-3.945c.2-.192.55-.064.55.201v8c0 .266-.35.395-.55.202M1.269 1.861l4.12 3.945c.12.11.12.284 0 .403l-4.12 4.055c-.2.193-.55.064-.55-.201v-8c0-.266.35-.394.55-.202m4.81 5.062c.12-.119.34-.128.46 0l1.01.97c.6.458 1.32.687 2.06.687s1.51-.238 2.13-.723l.97-.934a.34.34 0 0 1 .46 0l4.03 3.964c.19.183.04.485-.23.485H2.289c-.28 0-.42-.302-.23-.485l4.03-3.964zM17.249.497c.28 0 .42.311.23.494l-6.43 6.17c-.82.623-2.01.623-2.78.037L1.789.99c-.19-.183-.05-.494.23-.494z" fill="#E73B44"/></svg></span>
                    <span> <a href="mailto:{{compagnieinfos:email}}" class="hover:text-black/60">{{compagnieinfos:email}}</a> </span>
                </div>
                <div class="flex gap-[_clamp(1em,2vw,3em)] my-5 [font-size:_clamp(1em,1.3vw,1.5em)]">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="1.85em" height="1.85em" viewBox="0 0 16 14" fill="none"><path d="M11.028 13.599c-5.94 0-10.77-4.422-10.77-9.86 0-.63.07-1.28.21-1.912.14-.65.73-1.172 1.45-1.29l2.09-.349c.41-.073.81.174.9.55l.93 3.78c.08.348-.12.696-.47.824l-.62.22c-.08.027-.13.119-.1.192.68 1.812 2.23 3.222 4.22 3.835.08.028.17-.009.21-.082l.42-.796c.16-.303.52-.458.88-.385l4.03.842c.41.083.68.458.59.833l-.46 2.106c-.14.659-.7 1.171-1.41 1.309q-1.05.192-2.1.192z" fill="#E73B44"/></svg></span>
                    <span>
                        <a href="tel:{{compagnieinfos:telephone}}" class="hover:text-black/60">{{compagnieinfos:telephone}}</a><br />
                        {{compagnieinfos:telephone_montreal | substr(0, 9) }}
                        <a href="tel:{{compagnieinfos:numero_telephone_montreal}}" class="hover:text-black/60">{{compagnieinfos:telephone_montreal | substr(9) }}</a> 
                    </span>
                </div>
                <div class="flex gap-[_clamp(1em,2vw,3em)] my-5 [font-size:_clamp(1em,1.3vw,1.5em)]">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="1.85em" height="1.85em" viewBox="0 0 15 17" fill="none"><path d="M6.82.083C3.37.46.77 3.305.95 6.482c.23 3.991 4.75 5.4 6.3 9.383.13.33.64.33.77 0 1.59-4.083 6.31-5.456 6.31-9.694 0-3.635-3.45-6.527-7.51-6.088m.81 7.982c-1.3 0-2.36-.97-2.36-2.16s1.06-2.16 2.36-2.16 2.36.97 2.36 2.16-1.06 2.16-2.36 2.16" fill="#E73B44"/></svg></span>
                    <span>
                        <a href="{{compagnieinfos:lien_adresse}}" target="_blank" class="hover:text-black/60">{{compagnieinfos:adresse}}</a>
                    </span>
                </div>
            </div>
            <div class="md:w-2/3">
            <form class="flex flex-col space-y-12 space-y-">
                <div class="sm:flex sm:gap-[_clamp(1em,2vw,3em)] space-y-12 sm:space-y-0">
                    <div class="relative sm:w-full">
                        <label for="name" class="sr-only">Name</label>
                        <input type="text" id="name" name="name" placeholder=" " class="w-full px-4 py-2 border-b-[1px] border-dore focus:shadow-borderBoxForm focus:outline-none transition-opacity duration-300  focus:opacity-100 bg-inherit " />
                        <span class="absolute top-2 left-4 transition-opacity duration-300 opacity-50 focus:opacity-0 pointer-events-none">Name</span>
                    </div>
                    <div class="relative sm:w-full">
                        <label for="lastName" class="sr-only">Last Name</label>
                        <input type="text" id="lastName" name="lastName" placeholder=" " class="w-full px-4 py-2 border-b-[1px] border-dore focus:shadow-borderBoxForm focus:outline-none transition-opacity duration-300 focus:opacity-100 bg-inherit " />
                        <span class="absolute top-2 left-4 transition-opacity duration-300 opacity-50 focus:opacity-0 pointer-events-none">Last Name</span>
                    </div>
                </div>
                <div class="relative">
                    <label for="phoneNumber" class="sr-only">Phone Number</label>
                    <input type="tel" id="phoneNumber" name="phoneNumber" placeholder=" " class="w-full px-4 py-2 border-b-[1px] border-dore focus:shadow-borderBoxForm focus:outline-none transition-opacity duration-300 focus:opacity-100 bg-inherit " />
                    <span class="absolute top-2 left-4 transition-opacity duration-300 opacity-50 focus:opacity-0 pointer-events-none">Phone Number</span>
                </div>
                <div class="relative">
                    <label for="message" class="sr-only">Message</label>
                    <textarea id="message" name="message" placeholder=" " class="w-full h-40 px-4 py-2 border-b-[1px] border-dore focus:shadow-borderBoxForm focus:outline-none transition-opacity duration-300 focus:opacity-100 bg-inherit "></textarea>
                    <span class="absolute top-2 left-4 transition-opacity duration-300 opacity-50 focus:opacity-0 pointer-events-none">Message</span>
                </div>
                <button type="submit" class="bouton bg-rougeBrissette text-white sm:ml-auto">
                    Envoyer &nbsp;
                    <svg fill="#ffff" width="0px" height="0px" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg" id="arrow"  >
                      <path class="fill-white" d="M8.29289 2.29289C8.68342 1.90237 9.31658 1.90237 9.70711 2.29289L14.2071 6.79289C14.5976 7.18342 14.5976 7.81658 14.2071 8.20711L9.70711 12.7071C9.31658 13.0976 8.68342 13.0976 8.29289 12.7071C7.90237 12.3166 7.90237 11.6834 8.29289 11.2929L11 8.5H1.5C0.947715 8.5 0.5 8.05228 0.5 7.5C0.5 6.94772 0.947715 6.5 1.5 6.5H11L8.29289 3.70711C7.90237 3.31658 7.90237 2.68342 8.29289 2.29289Z"/>
                    </svg>
                </button>
            </form>
            </div>
        </div>

    </section>

    {{# <section>
        <div>
            <iframe
                width="600"
                height="450"
                style="border:0"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC-VVTDA3RP3r3QehgyDkZq14ptPN62lew&q=195+Rue+Brissette,+Sainte-Agathe-des-Monts,+QC+J8C+3S4">
                </iframe>
        </div>
    </section> #}}

    <div id="map"></div>
</div>


<script>
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
      key: "AIzaSyC-VVTDA3RP3r3QehgyDkZq14ptPN62lew",
      libraries: "marker",
      v: "beta",
      // Add other bootstrap parameters as needed, using camel case.
      // Use the 'v' parameter to indicate the version to load (alpha, beta, weekly, etc.)
    });
</script>

<script>
    // Initialize and add the map
let map;

async function initMap() {
  // The location of Uluru
  const position = { lat: -25.344, lng: 131.031 };
  // Request needed libraries.
  //@ts-ignore
  const { Map } = await google.maps.importLibrary("maps");
  const { AdvancedMarkerView } = await google.maps.importLibrary("marker");

  // The map, centered at Uluru
  map = new Map(document.getElementById("map"), {
    zoom: 4,
    center: position,
    mapId: "f4def729f270651c",
  });

  map.addListener('mapcapabilities_changed', () => {
    const mapCapabilities = map.getMapCapabilities();
    console.log(mapCapabilities);
    if (!mapCapabilities.isAdvancedMarkersAvailable) {
      // Advanced markers are *not* available, add a fallback.
      console.log("Advanced markers are not available.")
    }
  });

  // The marker, positioned at Uluru
  const marker = new AdvancedMarkerView({
    map: map,
    position: position,
    title: "Uluru",
  });
}

initMap();
</script>














<script>
    document.querySelectorAll('input, textarea').forEach(function(inputField) {
        inputField.addEventListener('focus', function() {
            this.nextElementSibling.style.opacity = '0';
        });
    
        inputField.addEventListener('blur', function() {
            if (this.value === '') {
                this.nextElementSibling.style.opacity = '0.5';
            }
        });

            // Handle autofill
    inputField.addEventListener('input', function() {
        if (this.value !== '') {
            
            this.nextElementSibling.style.opacity = '0';
        }
    });
    });
</script>