<div class="w-full min-h-full">
    <img
        src="{{ glide :src='assets_field'}}"
        alt="{{assets_field:alt}}"
        class="w-full [height:_clamp(20em,24vw,50vw)] object-cover"
    />

    <section class="[padding:_clamp(2em,5vw,5vw)_clamp(0.9em,6vw,6vw)_clamp(0.9em,2.2vw,6vw)]">
        <div>
            <h1 class=" [font-size:_clamp(2em,4vw,5vw)] [margin-bottom:_clamp(0.5em,0.5vw,1vw)] text-center"> {{les_sections.0.titre }} </h1>
            <p class=" [font-size:_clamp(0.9em,1.5vw,2vw)] [margin-bottom:_clamp(1em,0.8vw,1vw)] text-center">{{les_sections.0.texte }}</p>
        </div>
        

        <div class="flex flex-col md:flex-row gap-3 my-8 md:my-20">
            <div class="md:w-1/3 ">
                <div class="flex items-center gap-[_clamp(1em,2vw,3em)] my-5 underline [font-size:_clamp(1em,1.3vw,1.5em)]">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="1.85em" height="1.85em" viewBox="0 0 19 12" fill="none"><path d="m17.989 10.264-4.12-4.055a.287.287 0 0 1 0-.403l4.12-3.945c.2-.192.55-.064.55.201v8c0 .266-.35.395-.55.202M1.269 1.861l4.12 3.945c.12.11.12.284 0 .403l-4.12 4.055c-.2.193-.55.064-.55-.201v-8c0-.266.35-.394.55-.202m4.81 5.062c.12-.119.34-.128.46 0l1.01.97c.6.458 1.32.687 2.06.687s1.51-.238 2.13-.723l.97-.934a.34.34 0 0 1 .46 0l4.03 3.964c.19.183.04.485-.23.485H2.289c-.28 0-.42-.302-.23-.485l4.03-3.964zM17.249.497c.28 0 .42.311.23.494l-6.43 6.17c-.82.623-2.01.623-2.78.037L1.789.99c-.19-.183-.05-.494.23-.494z" fill="#E73B44"/></svg></span>
                    <span> <a href="mailto:{{compagnieinfos:email}}" class="hover:text-black/60">{{compagnieinfos:email}}</a> </span>
                </div>
                <div class="flex gap-[_clamp(1em,2vw,3em)] my-5 [font-size:_clamp(1em,1.3vw,1.5em)]">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="1.85em" height="1.85em" viewBox="0 0 16 14" fill="none"><path d="M11.028 13.599c-5.94 0-10.77-4.422-10.77-9.86 0-.63.07-1.28.21-1.912.14-.65.73-1.172 1.45-1.29l2.09-.349c.41-.073.81.174.9.55l.93 3.78c.08.348-.12.696-.47.824l-.62.22c-.08.027-.13.119-.1.192.68 1.812 2.23 3.222 4.22 3.835.08.028.17-.009.21-.082l.42-.796c.16-.303.52-.458.88-.385l4.03.842c.41.083.68.458.59.833l-.46 2.106c-.14.659-.7 1.171-1.41 1.309q-1.05.192-2.1.192z" fill="#E73B44"/></svg></span>
                    <span>
                        <a href="tel:{{compagnieinfos:telephone}}" class="hover:text-black/60">{{compagnieinfos:telephone}}</a><br />
                        {{compagnieinfos:telephone_montreal | substr(0, 9) }}
                        <a href="tel:{{compagnieinfos:numero_telephone_montreal}}" class="hover:text-black/60">{{compagnieinfos:telephone_montreal | substr(9) }}</a> 
                    </span>
                </div>
                <div class="flex gap-[_clamp(1em,2vw,3em)] my-5 [font-size:_clamp(1em,1.3vw,1.5em)]">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="1.85em" height="1.85em" viewBox="0 0 15 17" fill="none"><path d="M6.82.083C3.37.46.77 3.305.95 6.482c.23 3.991 4.75 5.4 6.3 9.383.13.33.64.33.77 0 1.59-4.083 6.31-5.456 6.31-9.694 0-3.635-3.45-6.527-7.51-6.088m.81 7.982c-1.3 0-2.36-.97-2.36-2.16s1.06-2.16 2.36-2.16 2.36.97 2.36 2.16-1.06 2.16-2.36 2.16" fill="#E73B44"/></svg></span>
                    <span>
                        <a href="{{compagnieinfos:lien_adresse}}" target="_blank" class="hover:text-black/60">{{compagnieinfos:adresse}}</a>
                    </span>
                </div>
            </div>

            {{# {{partial:forms}} #}}
            


            <div class="md:w-1/3 ">
                <form name="contact" netlify>
                    <p>
                      <label>Name <input type="text" name="name" /></label>
                    </p>
                    <p>
                      <label>Email <input type="email" name="email" /></label>
                    </p>
                    <p>
                      <button type="submit">Send</button>
                    </p>
                  </form>
            </div>


        </div>

    </section>


</div>


<iframe src="https://snazzymaps.com/embed/605386" width="100%" height="600px" style="border:none;"></iframe>






<script>
    document.querySelectorAll('input, textarea').forEach(function(inputField) {
        inputField.addEventListener('focus', function() {
            this.nextElementSibling.style.opacity = '0';
        });
    
        inputField.addEventListener('blur', function() {
            if (this.value === '') {
                this.nextElementSibling.style.opacity = '0.5';
            }
        });

            // Handle autofill
    inputField.addEventListener('input', function() {
        if (this.value !== '') {
            
            this.nextElementSibling.style.opacity = '0';
        }
    });
    });
</script>