<div class="w-full min-h-full">
    {{if bande_defilante }}
    <div class="w-full inline-flex flex-nowrap whitespace-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_100px,_black_calc(92%),transparent_100%)] parent-container [font-size:_clamp(1rem,2.3vw,6vw)] [padding:0.6em] bg-white text-[#292F36]">
        <ul class="flex items-center justify-end [&_li]:mx-8 animate-infinite-scroll">
            <li>
                <p>{{ texte_defilant }}</p>
            </li>
            <li>
                <p>{{ texte_defilant }}</p>
            </li>
            <li>
                <p>{{ texte_defilant }}</p>
            </li>
        </ul>                
        <ul class="flex items-center justify-end [&_li]:mx-8 animate-infinite-scroll">
            <li>
                <p>{{ texte_defilant }}</p>
            </li>
            <li>
                <p>{{ texte_defilant }}</p>
            </li>
            <li>
                <p>{{ texte_defilant }}</p>
            </li>
        </ul>                
    </div>
    {{ /if }}
    {{ partial:carousel }}
    {{ partial:section1Text}}
    {{ partial:section2Formulaire}}

    <section class="w-full h-full [padding:_clamp(2em,5vw,5vw)_clamp(0.9em,6vw,6vw)_clamp(0.9em,2.2vw,6vw)]">
        <div class=" grid [grid-auto-rows:1fr] gap-10" >
            <div class="md:flex">
                <img src="/assets/iStock-1803817492.webp" alt="" class="md:[width:52%] object-cover rounded-3xl">
                <div class="md:w-1/2 py-5 md:p-10">
                    <h2 class="[font-size:_clamp(1.5em,1.8vw,2.5vw)] mb-4">Historique</h2>
                    <p>Depuis 1977, Gestion J.G Courchesne inc. offre des services d'entreposage flexible et sécuritaire. Notre système de déverrouillage par code d'accès vous assure un accès unique et protège votre espace de rangement, et notre personnel qualifié est toujours disponible sur place pour vous assister et répondre à vos questions. Les lieux sont sous surveillance vidéo en permanence et les plans intérieurs et extérieurs de votre unité sont accessibles en tout temps sur notre plateforme web, vous permettant ainsi d'avoir un œil sur vos biens.</p>
                </div>
            </div>
            <div class="md:flex md:flex-row-reverse md:items-stretch">
                <img src="/assets/iStock-1473145871.webp" alt="" class="md:[width:52%] object-cover rounded-3xl">
                <div class="md:w-1/2 py-5 md:p-10 flex flex-col justify-center">
                    <h2 class="text-3xl mb-4">Besoin de matériel pour entreposer vos biens?</h2>
                    <p>Notre boutique vous fournit tous les articles nécessaires pour entreposer vos biens de manière sécuritaire et durable. Nous avons des boîtes et des articles d'entreposage pour tous vos besoins de rangement!</p>
                </div>
            </div>
        </div>
    </section>

    
</div>