<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ title ?? site:name }}</title>
        <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon_entrepot.jpg">

        {{ vite src="resources/js/site.js|resources/js/gsapAnim.js|resources/css/site.css" }}
    </head>

    <body class=" bg-[#fbf8f3] font-sora">

        <header>
            {{ partial:header }}
        </header>

        {{# <div class="box h-20 w-20 bg-green-500" >few</div> #}}

        <main>
            {{ template_content }}
        </main>

        {{# // footer #}}
        <footer>
            {{ partial:footer }}
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js" defer></script>
    </body>
</html>
