<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ title ?? site:name }}</title>
        <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon_entrepot.jpg">

        {{ vite src="resources/js/site.js|resources/js/gsapAnim.js|resources/css/site.css" }}
    </head>

    <body class=" bg-[#fbf8f3] font-sora">

        <header>
            {{ partial:header }}
        </header>

        {{# <div class="box h-20 w-20 bg-green-500" >few</div> #}}

        <main>
            {{ template_content }}
        </main>

        {{# // footer #}}
        <footer>
            <div class="w-full bg-noir p-[_clamp(0.9em,6vw,6vw)_clamp(0.9em,6vw,6vw)]">

                <div class="w-fit text-white">
                    <img src="/assets/image.svg" alt="">
                        
                        <p class="my-8">
                        195, rue Brissette <br>
                        Sainte-Agathe-des-Monts <br>
                        QC J8C 3S4
                    </p>
                    <p class="my-8">
                        819 326-7900 <br>
                        Montréal : 514 387-8642, poste 245
                    </p>
                    <svg width="10" height="19" viewBox="0 0 10 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.184 10.375H6.547v7.875H3.03v-7.875H.148V7.141h2.883V4.645C3.031 1.832 4.72.25 7.285.25c1.23 0 2.531.246 2.531.246v2.777H8.375c-1.406 0-1.828.844-1.828 1.758v2.11h3.129z" fill="#D0B787"/></svg>               
                </div>
            </div>
    
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js" defer></script>
    </body>
</html>
