<div id="carousel-example" class="relative w-full h-fit" data-carousel="static">
    <!-- Carousel wrapper -->
    <div
        class="relative overflow-hidden [height:_clamp(20em,40vw,40vw)]"
    >
        <!-- Item 1 -->
        {{ grid_field }}
        <div id="carousel-item-{{index}}" class=" hidden duration-200 ease-linear" data-carousel-item>
            <div class="flex h-full">
                <div class="w-1/2">
                    <!-- First element goes here -->
                    <div class="flex flex-col justify-between h-full [padding:_clamp(0.9em,8vw,8vw)_clamp(0.9em,6vw,6vw)_clamp(0.9em,2.2vw,6vw)] {{couleur_bg}} ">
                        <div class="[font-size:_clamp(0.9em,2.2vw,6vw)] font-ul text-pretty text-white"> {{titre}}  </div>
                        {{ if bouton }}
                        <a href="{{btn_url}}" class="self-start inline-flex items-center justify-center text-center rounded-2xl font-semibold bg-white py-2 px-1.5 md:py-4 md:px-9 xl:py-6 xl:px-12 xl:text-2xl ">
                            {{btn_txt}} &nbsp;
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none">
                                <path d="M1 7.93536L14.7232 7.79851M9.61818 1.41132L16.1412 7.9343L9.48677 14.5887" stroke="#292F36" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    {{ /if }}
                    </div>
                </div>
                <div class="w-1/2">
                    <!-- Second element goes here -->
                    <img
                        src="{{ glide src="{{assets_field}}" }}"
                        class="w-full h-full object-cover"
                        alt="{{assets_field.alt}}"
                    />
                </div>
            </div>
        </div>
        {{ /grid_field }}
        <!-- Item 2 -->
        <!-- <div id="carousel-item-2" class=" hidden duration-200 ease-linear" data-carousel-item> -->
            <!-- <div class="flex h-full"> -->
                <!-- <div class="w-1/2"> -->
                    <!-- First element goes here -->
                    <!-- <div class="flex flex-col justify-between h-full [padding:_clamp(0.9em,8vw,8vw)_clamp(0.9em,6vw,6vw)_clamp(0.9em,2.2vw,6vw)] bg-rougeBrissette"> -->
                    <!-- <div class="flex flex-col justify-between h-full pt-[42px] pb-[24px] px-[22px] md:py-20 md:px-14  xl:py-28 xl:px-20 bg-rougeBrissette"> -->
                        <!-- <p class="[font-size:_clamp(0.9em,2.2vw,6vw)] text-white">Béniciez d’un service defewfew few fefe wfefew remorque de chargement gratuitement à la location d’une nouvelle unité d’entreposage. </p>
                        <a href="#">
                            <button class="self-start inline-flex items-center justify-center text-center rounded-2xl font-semibold bg-white py-2 px-1.5 md:py-4 md:px-9 xl:py-6 xl:px-12 xl:text-2xl ">En&nbsp;savoir&nbsp;plus&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none">
                                <path d="M1 7.93536L14.7232 7.79851M9.61818 1.41132L16.1412 7.9343L9.48677 14.5887" stroke="#292F36" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
                            </svg></button>
                        </a> -->
                    <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="w-1/2"> -->
                    <!-- Second element goes here -->
                    <!-- <img
                        src="{{assets_field}}"
                        class="w-full h-full object-cover"
                        alt="..."
                        loading="lazy"
                    />
                </div>
            </div>
        </div> -->
    </div>
    <!-- Slider indicators -->
    <!-- <div
        class="absolute bottom-5 left-1/2 z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse"
    >
        <button
            id="carousel-indicator-1"
            type="button"
            class="h-3 w-3 rounded-full bg-blue-800"
            aria-current="true"
            aria-label="Slide 1"
        ></button>
        <button
            id="carousel-indicator-2"
            type="button"
            class="h-3 w-3 rounded-full bg-blue-800"
            aria-current="false"
            aria-label="Slide 2"
        ></button>
        <button
            id="carousel-indicator-3"
            type="button"
            class="h-3 w-3 rounded-full bg-blue-800"
            aria-current="false"
            aria-label="Slide 3"
        ></button>
        <button
            id="carousel-indicator-4"
            type="button"
            class="h-3 w-3 rounded-full bg-blue-800"
            aria-current="false"
            aria-label="Slide 4"
        ></button>
    </div> -->
    <!-- Slider controls -->
    <button
        id="data-carousel-prev"
        type="button"
        class="hidden group absolute left-1/2 transform -translate-x-24 bottom-7 z-30 md:flex cursor-pointer items-end"
    >
        <span
            class="inline-flex h-10 w-10 items-center justify-center rounded-full  group-hover:bg-black/50 dark:bg-gray-800/30 dark:group-hover:bg-gray-800/60"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="27" viewBox="0 0 15 27" fill="none">
            <g clip-path="url(#clip0_272_687)">
              <path d="M-5.90146e-07 13.5001C-5.71981e-07 13.0845 0.157813 12.6612 0.473441 12.3427L12.2363 0.473876C12.8714 -0.159179 13.8953 -0.159179 14.5266 0.473876C15.1578 1.1147 15.1578 2.15167 14.5266 2.78861L3.90685 13.5001L14.5266 24.2115C15.1578 24.8484 15.1578 25.8854 14.5266 26.5262C13.8953 27.1593 12.8714 27.1593 12.2363 26.5262L0.47344 14.6574C0.157813 14.339 -6.08311e-07 13.9156 -5.90146e-07 13.5001Z" fill="white"/>
            </g>
            <defs>
              <clipPath id="clip0_272_687">
                <rect width="27" height="15" fill="white" transform="translate(15) rotate(90)"/>
              </clipPath>
            </defs>
          </svg>
            <span class="hidden">Previous</span>
        </span>
    </button>
    <button
        id="data-carousel-next"
        type="button"
        class="hidden group absolute right-1/2 z-30 bottom-7 md:flex  transform -translate-x-6 cursor-pointer items-end"
    >
        <span
            class="inline-flex h-10 w-10 items-center justify-center rounded-full group-hover:bg-black/50 dark:bg-gray-800/30 dark:group-hover:bg-gray-800/60"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="27" viewBox="0 0 15 27" fill="none">
            <g clip-path="url(#clip0_272_689)">
              <path d="M15 13.4999C15 13.9155 14.8422 14.3388 14.5266 14.6573L2.76366 26.5261C2.12856 27.1592 1.1047 27.1592 0.473441 26.5261C-0.157814 25.8853 -0.157814 24.8483 0.473441 24.2114L11.0931 13.4999L0.473441 2.78849C-0.157813 2.15156 -0.157813 1.11458 0.473441 0.473763C1.1047 -0.159294 2.12856 -0.159294 2.76366 0.473763L14.5266 12.3426C14.8422 12.661 15 13.0844 15 13.4999Z" fill="white"/>
            </g>
            <defs>
              <clipPath id="clip0_272_689">
                <rect width="27" height="15" fill="white" transform="translate(0 27) rotate(-90)"/>
              </clipPath>
            </defs>
          </svg>
            <span class="hidden">Next</span>
        </span>
    </button>
</div>