
{{ vite src="resources/js/carousel.js" }}



<section class="">
    <!-- Carousel wrapper -->
    <div class="wrapper relative w-full  ">
        <ul class="carousel grid grid-flow-col auto-cols-[100%] [height:_clamp(20em,32vw,50vw)]">
            {{ entries_field }}
            {{ champs }}
            <li class="slide h-full">
                <div class="flex items-stretch h-full">
                    <div class="flex-grow h-full relative overflow-hidden">
                        <!-- First element goes here -->
                        <div class="flex flex-col justify-between w-full h-full absolute [padding:_clamp(0.9em,8vw,8vw)_clamp(0.9em,6vw,6vw)_clamp(0.9em,2.2vw,6vw)] {{couleur_bg}} ">
                            <div class="[font-size:_clamp(0.9em,2.2vw,6vw)] h-full font-ul text-pretty text-white"> {{text}}  </div>
                            {{ if bouton }}
                                {{ partial:boutonCTA label="{{btn_txt}}" btn_url="{{btn_url}}" couleur="blanc" }}
                            {{ /if }}
                        </div>
                    </div>
                    <div class="flex-grow h-full relative">
                        <!-- Second element goes here -->
                        <img
                            src="{{ glide :src='assets_field'}}"
                            class="w-full h-full absolute object-top object-cover"
                            alt="{{assets_field.alt}}"
                            loading="{{ first ? 'eager' : 'lazy' }}"
                            draggable="false"
                        />
                    </div>
                </div>
            </li>
            {{ /champs }}
            {{ /entries_field }} 
        </ul>
        <!-- Slider controls -->
        <span class="hidden sm:inline ">
            <button type="button" id="left" class="absolute inline right-1/2 bottom-0 transform -translate-x-[200%] -translate-y-[2.5vw] h-[2em] w-[2em] hover:scale-110" >
                <div class="w-full h-full hover:scale-110 ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 15 27" fill="none"><g clip-path="url(#clip0_272_687)"><path d="M0 13.5c0-.415.158-.839.473-1.157L12.236.473a1.62 1.62 0 0 1 2.29 0 1.65 1.65 0 0 1 0 2.316L3.907 13.5l10.62 10.712a1.65 1.65 0 0 1 0 2.314 1.62 1.62 0 0 1-2.29 0L.473 14.657A1.65 1.65 0 0 1 0 13.5" fill="#fff"/></g></svg>
                </div>
            </button>
            <button type="button" id="right" class="absolute right-1/2 bottom-0 transform -translate-x-[80%] -translate-y-[2.5vw] h-[2em] w-[2em] hover:scale-110" >
                <div class="w-full h-full hover:scale-110 ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 15 27" fill="none"><g clip-path="url(#a)"><path d="M15 13.5c0 .415-.158.839-.473 1.157L2.764 26.527a1.62 1.62 0 0 1-2.29 0 1.65 1.65 0 0 1 0-2.316L11.093 13.5.473 2.788a1.65 1.65 0 0 1 0-2.314 1.62 1.62 0 0 1 2.29 0l11.763 11.869c.315.318.473.741.473 1.157" fill="#fff"/></g><defs><clippath id="a"><path fill="#fff" d="M0 27V0h15v27z"/></clippath></defs></svg>
                </div>
            </button>
        </span>

    </div>


</section>


