<div class="w-full bg-noir p-[_clamp(0.9em,6vw,6vw)_clamp(0.9em,6vw,6vw)]">
    <div class="w-fit text-white">
        <img src="/assets/image.svg" alt="" />

        <p class="my-8">
            195, rue Brissette <br />
            Sainte-Agathe-des-Monts <br />
            QC J8C 3S4
        </p>
        <p class="my-8">
            <a href="tel:{{compagnieinfos:telephone}}" class=" hover:text-white/75">{{compagnieinfos:telephone}}</a><br />
            Montréal : 514 387-8642, poste 245
        </p>
        <svg
            width="10"
            height="19"
            viewBox="0 0 10 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M9.184 10.375H6.547v7.875H3.03v-7.875H.148V7.141h2.883V4.645C3.031 1.832 4.72.25 7.285.25c1.23 0 2.531.246 2.531.246v2.777H8.375c-1.406 0-1.828.844-1.828 1.758v2.11h3.129z"
                fill="#D0B787"
            />
        </svg>
    </div>
</div>
