


<section class="w-full h-full pt-[_clamp(1em,5vw,5vw)]  md:[padding:_clamp(2em,5vw,5vw)_clamp(0.9em,6vw,6vw)_clamp(0.9em,2.2vw,6vw)]" >
    {{collection:sections nom_section:is='formulaire'}}
    
    {{# {{les_sections}} #}}
    {{# {{if slug_custom == slug_custom_section}} #}}

    {{# {{liste_doptions}}
    <br>
        {{index}}
        {{titre_option}}
        {{image_plan}}
        {{description}}
        {{prix}}
    {{/liste_doptions}} #}}

    <div class="[padding:_clamp(2em,5vw,5vw)_clamp(0.9em,6vw,6vw)] bg-white">
        <h1 class="[font-size:_clamp(2em,3vw,4vw)] [margin-bottom:_clamp(0.5em,0.5vw,1vw)] text-center font-bold text-rougeBrissette" >{{title}}</h1>
        <form>            
            <select class="[font-size:_clamp(1em,1.4vw,3vw)] w-full border whitespace-normal text-center md:text-left border-gray-300 py-2 px-4 md:py-4 md:px-5 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 [margin-bottom:_clamp(1em,0.8vw,1vw)]" onchange="updateInformation(this)">
                {{liste_doptions}}
                {{firstImage = liste_doptions.0.image_plan}}
                <option data-selecttitre="{{titre_select}}" data-titre="{{titre_option}}" data-img="{{ glide src='{{image_plan}}' }}" data-img-alt="{{image_plan.alt}}" data-description="{{description}}" data-prix="{{prix}}" data-lien="{{ link to="{{url_bouton}}#{{index+1}}"}}"  {{ if first }}selected{{ /if }} >{{titre_select}}</option>
                {{/liste_doptions}}
            </select>
        </form>


        <script>

            

            function updateInformation(selectElement) {
                const selectedOption = selectElement.options[selectElement.selectedIndex];
                const titre = selectedOption.getAttribute('data-titre');
                const lien = selectedOption.getAttribute('data-lien');
                const img = selectedOption.getAttribute('data-img');
                const imgAlt = selectedOption.getAttribute('data-img-alt');
                const description = selectedOption.getAttribute('data-description');
                const prix = selectedOption.getAttribute('data-prix');

                var informationDiv = document.getElementById("information");

                console.log(titre);
                console.log(lien);
                console.log(img);
                console.log(description);
                console.log(prix);


                informationDiv.innerHTML = `
                <div class="[margin:_clamp(0.5em,6.5vw,8vw)0] md:flex md:gap-10">
                    <div class="md:w-1/2">
                        <h1 class="[font-size:_clamp(1.8em,2.5vw,4vw)] mb-3">${titre} </h1>
                        <p class="[font-size:_clamp(1em,1.5vw,4vw)] mb-5">${description} </p>
                        <p class="[font-size:_clamp(1.2em,1.5vw,4vw)] mb-3 ">À partir de <strong class="[font-size:_clamp(2em,2vw,4.5vw)] text-rougeBrissette">${prix}</strong>/mois</p>
                    </div>
                    <div class="md:w-1/2">
                        <img class="max-h-full min-w-[65%] object-contain mx-auto" src="${img}" alt="${imgAlt}">                       
                        <p class="text-center whitespace-nowrap mt-6">
                            <a href="${lien}" class="bouton bg-rougeBrissette text-white  xl:!whitespace-nowrap !whitespace-normal">
                                {{label_bouton}}&nbsp;
                                <svg fill="#ffff" width="0px" height="0px" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg" id="arrow"  >
                                  <path class="fill-white" d="M8.29289 2.29289C8.68342 1.90237 9.31658 1.90237 9.70711 2.29289L14.2071 6.79289C14.5976 7.18342 14.5976 7.81658 14.2071 8.20711L9.70711 12.7071C9.31658 13.0976 8.68342 13.0976 8.29289 12.7071C7.90237 12.3166 7.90237 11.6834 8.29289 11.2929L11 8.5H1.5C0.947715 8.5 0.5 8.05228 0.5 7.5C0.5 6.94772 0.947715 6.5 1.5 6.5H11L8.29289 3.70711C7.90237 3.31658 7.90237 2.68342 8.29289 2.29289Z"/>
                                </svg>
                            </a>
                        </p>
                    </div>
                </div>
            `;
            }
        </script>


        <div id="information">
            <!-- Displayed information will be updated here -->
            <div class="[margin:_clamp(0.5em,6.5vw,8vw)0_clamp(0.2em,1vw,8vw)] md:flex md:gap-10">
                <div class="md:w-1/2">
                    <h1 class="[font-size:_clamp(1.8em,2.5vw,4vw)] mb-3">Quelques articles : 5 pieds x 5 pieds (25 pi<sup>2</sup>)</h1>
                    <p class="[font-size:_clamp(1em,1.5vw,4vw)] mb-5">Aménagement d'une chambre ou d'un bureau et plusieurs boîtes et petits objets OU environ 50 boîtes</p>
                    <p class="[font-size:_clamp(1.2em,1.5vw,4vw)] mb-3 text-pretty ">À partir de <strong class="[font-size:_clamp(2em,2vw,4.5vw)] text-rougeBrissette">39,70 $</strong>/mois</p>
                </div>
                <div class="md:w-1/2">
                    <img class="max-h-full min-w-[65%] object-contain mx-auto" src="{{glide src="{{firstImage}}"}}" alt="{{firstImage.alt}}">
                    <p class="text-center whitespace-nowrap mt-6">
                        <a href="{{link to="{{url_bouton}}"}}" class="bouton bg-rougeBrissette text-white xl:!whitespace-nowrap !whitespace-normal">
                            {{label_bouton}}&nbsp;
                            <svg fill="#ffff" width="0px" height="0px" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg" id="arrow"  >
                              <path class="fill-white" d="M8.29289 2.29289C8.68342 1.90237 9.31658 1.90237 9.70711 2.29289L14.2071 6.79289C14.5976 7.18342 14.5976 7.81658 14.2071 8.20711L9.70711 12.7071C9.31658 13.0976 8.68342 13.0976 8.29289 12.7071C7.90237 12.3166 7.90237 11.6834 8.29289 11.2929L11 8.5H1.5C0.947715 8.5 0.5 8.05228 0.5 7.5C0.5 6.94772 0.947715 6.5 1.5 6.5H11L8.29289 3.70711C7.90237 3.31658 7.90237 2.68342 8.29289 2.29289Z"/>
                            </svg>
                        </a>
                    </p>
                </div>
            </div>
        </div>



        

    </div>
    {{# {{/if}} #}}
    {{# {{/les_sections}} #}}
    {{ /collection:sections }}

</section>


