{{ vite src="resources/js/gsapAnimSectionImages.js" }}


<section id="sectionImages" class="w-full h-full [padding:_clamp(2em,5vw,5vw)_clamp(0.9em,6vw,6vw)_clamp(0.9em,2.2vw,6vw)] overflow-x-hidden">    

    <div class="flex flex-col md:grid md:[grid-auto-rows:1fr] gap-12" >
        {{grid_field}}
        <div class="md:flex rangee {{index % 2 === 0 ? void : 'md:flex-row-reverse'}}">
            <img src="{{ glide :src='image'}}" alt="{{image.alt}}" class="md:[width:52%] object-cover rounded-3xl" fetchpriority="low" loading="lazy">
            <div class="md:w-1/2 py-5 md:p-10 flex flex-col justify-center -z-50">
                <h2 class="[font-size:_clamp(1.5em,2vw,2.5vw)] mb-4">{{titre}}</h2>
                <p class="[font-size:_clamp(1em,1.2vw,2vw)]"> {{description}} </p>
            </div>
        </div>
        {{/grid_field}}
    </div>
    
</section>