<section class="w-full h-full [padding:_clamp(2em,5vw,5vw)_clamp(0.9em,6vw,6vw)_clamp(0.9em,2.2vw,6vw)]" >
    {{les_sections}}
    {{if slug_custom == slug_custom_section}}
    <h1 class=" [font-size:_clamp(2em,4vw,5vw)] [margin-bottom:_clamp(0.5em,0.5vw,1vw)] text-center" >{{title}}</h1>
    <p class=" [font-size:_clamp(0.9em,1.5vw,2vw)] [margin-bottom:_clamp(1em,0.8vw,1vw)] text-center" > {{text}} </p>
    <p class="text-center">
        {{ slot }}
    </p>
    {{/if}}
    {{/les_sections}}
</section>