@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This is all you. */

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");


.toggle-btn {
    @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent;
}

/* // dans le cas ou les ligne précédente ne fonctionne pas, pour l'effet de transition sur le bouton X  */
/* .toggle-btn > div::before {
    @apply translate-y-0 rotate-45;
}

.toggle-btn > div::after {
    @apply translate-y-0 -rotate-45;
}

.toggle-btn > div {
    @apply bg-transparent;
} */



/* banderolle animee */
@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.animate-marquee {
    animation: marquee 10s linear infinite;
}


/* liste texte dans le carousel */
.font-ul ul
{
    @apply [font-size:0.6em] list-disc [padding-left:1.6em] [padding-top:0.5em];
}
